.signUpPage{
    display: flex;
    flex: 1;
    overflow: scroll;
}

.signUpPage > div{
    flex: 1;
    padding: 40px;
}

.details{
    background-color: var(--third);
    color: var(--light);
    width: 120vw;
    height: 100%;
}

.graphics{
    width: 120vw;
    background-image: url(./../assets/student.webp);
    background-size: cover;
}

.graphics2{
    width: 120vw;
    background-image: url(./../assets/professor.jpg);
    background-size: cover;
}

.loadingPopup{
    background-color: var(--third);
    color: var(--light);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    padding: 3rem;
    font-size: larger;
    text-align: center;
    max-width: 550px;   
    max-height :550px;
    border-radius: 2%;
    opacity: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 200;
}

@media (max-width: 768px) {
    .signUpPage {
        flex-direction: column;
        overflow-x: hidden;
    }

    .details {
        width: 87vw;
    }
    
    .graphics{
        display: none;
    }

    .graphics2{
        display: none;
    }

    #logo2{
        scale: 10%;
    }
}
#logo2{
    position: relative;
}

@media (max-width: 1607px)
{
    .graphics{
        display: none;
    }

    .graphics2{
        display: none;
    }
}
