:root{
  --primary: #0d6efd;
  --secondary:  #1fddff;
  --third: #1d08b8;
  --textFields: #d7fcfe;
  --light: #fff;
  --dark: #000;
}
body{
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("./assets/back_img.jpg");
  background-size: 100vw;
}


.container{
  margin: 0;
  --backdrop-filter: brightness(90);

}


.link {
  --s: 0.1em;   /* the thickness of the line */
  --c: var(--secondary); /* the color */
  color: var(--light);
  text-decoration: none;
  padding: .25rem;
  font-weight: 700;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
}

.link:hover {--_p: 100%}

.deleteButton{
  background-color: Red;
  color: var(--light);
  border-radius: 5%;
  padding: 10px;
  transition: 1s;

}
.deleteButton:hover{
  cursor: pointer;
  scale: 105%;
  box-shadow: #fff 20px 50px 20px;
}