:root{
  --primary: #0d6efd;
  --secondary:  #1fddff;
  --textFields: #d7fcfe;
  --light: #fff;
  --dark: #000;
}
body{
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("./assets/back_img.jpg");
  background-size: 100vw;
}


.container{
  margin: 0;
  --backdrop-filter: brightness(90);

}
